.container {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.search-form {
  min-height: 400px;
  min-width: 200px;
  width: 100%;
}

.searchbar {
  width: 500px;
}

.logo {
  padding: 20px;
}

.loading {
  width: 100px;
  margin: 50px auto;
}

.mat-card {
  border: 3px #ff9800 solid;
  margin-bottom: 50px;
}

.mat-card-avatar {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
