<div class="container">
  <img src="/assets/img/tome_comb_logo.svg" alt="Tome Comb" width="300px" class="logo">
  <form (ngSubmit)="hiddenSearch()">
    <mat-form-field class="searchbar">
      <input matInput type="text" name="searchterm" placeholder="Search a book..." autocomplete="off" #bookSearchbar>
      <mat-hint align="start">Start typing at least 3 characters.</mat-hint>
    </mat-form-field>
    <button hidden type="submit">Hidden Search Button</button>
  </form>
  
  <div class="loading" *ngIf="isSearching">
    <mat-spinner color="primary">Searching...</mat-spinner>
  </div>

  <ng-container *ngIf="apiResponse['items'] == 'False'; else elseTemplate">
    {{ apiResponse.error.errors.message }}
  </ng-container>

  <ng-template #elseTemplate>
    <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutAlign="space-evenly stretch">
      <mat-card *ngFor="let book of apiResponse['items']" fxLayout="column" fxFlex="30%" fxFlex.sm="45%" fxFlex.xs="90%">

        <mat-card-header>
          <img mat-card-avatar src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="cover" *ngIf="book.volumeInfo.imageLinks">
          <mat-card-title matTooltip="{{ book.volumeInfo.subtitle }}" >
            {{ book.volumeInfo.title }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="book.volumeInfo.authors">{{ book.volumeInfo.authors[0] }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start none">
          <div [innerHTML]="book.searchInfo.textSnippet" *ngIf="book.searchInfo"></div>
        </mat-card-content>

        <mat-card-actions fxFlexOffset="auto">
          <a mat-flat-button color="accent" href="{{book.volumeInfo.previewLink}}" target="_blank">Check it out!</a>
        </mat-card-actions>

      </mat-card>
    </div>
  </ng-template>
</div>
