<div class="container">
  <img src="/assets/img/tome_comb_logo.svg" alt="Tome Comb" width="300px" class="logo">
  <form #searchForm="ngForm" (ngSubmit)="searchBooks()" class="search-form"> 
    <mat-form-field class="searchbar">
      <input matInput type="text" name="searchterm" [(ngModel)]="searchterm" placeholder="Search a book...">
      <mat-hint align="start">Start typing at least 3 characters.</mat-hint>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" value="Search">Search</button>
  </form>
  <p *ngIf="books.length == 0">Searching...</p>
</div>

<p *ngIf="books.length > 0">{{books}}</p>
{{ books | json }}
<router-outlet></router-outlet>
